<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <div class="show_followers_header">
        <%= @user.username %>
      </div>

    </section>

  </aside>
  <div class="col-md-8">
    <div class="show_following_2"><%= @title %></div>
    <% if @users.any? %>
      <ul class="users_follow">
        <ul>
          <% @user.following.each do |u| %>
            <li style="list-style-type: none;"><%= link_to u.username, u %></li>
        <% end %>
      </ul>
      </ul>
    <% end %>
  </div>
</div>
