<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <div class="show_followers_header">
        <%= @user.username %>
      </div>

    </section>
    
  </aside>
  <div class="col-md-8">
    <div class="follower_header"><%= @title %></div>
    <div class="followers"
    <% if @users.any? %>
  </div class="users following">
        <ul>
          <% @user.followers.each do |u| %>
            <li style="list-style-type: none;"><%= link_to u.username, u %></li>
        <% end %>
      </ul>
      </ul>
    <% end %>
  </div>
</div>
